<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-color: cyan;">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">H.A Classes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>

        {%if user.is_authenticated %}
        <li class="nav-item">
          Hello,{{user.username}}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="account2/logout">logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="account2/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="account2/register">register</a>
        </li>
        {%endif%}
        
          
    
      </ul>
    </div>
  </nav>

    {%block content%}

    {%endblock%}
</body>
</html>