
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> {{username}} </h3>
    <form action="login" method="POST">
        {%csrf_token%}

        <input type="text" name="username" placeholder="USERNAME(in Capitals)">
        <input type="password" name="password" placeholder=" password">
        <input type="submit">
        
    </form>
    <h4>Does not yet registered. Register <a href="register">Here</a></h4>
    {%for message in messages%}
    <h3>"{{message}}"</h3>
    {%endfor%}
</body>
</html>
